@import "../../app/variables";

.container {
  flex-direction: column;
  gap: 20px;
}

.contentWrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    gap: 40px;
  }
  @media screen and (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.certifList {
  width: 100%;
  @media screen and (min-width: $laptop) {
    flex: 1;
  }
}

.certificate {
  display: flex;
  gap: 12px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.iconWrapp {
  position: relative;
  width: 32px;
  height: 32px;
}
.title {
  flex: 1;
  font-size: clamp(12px, 3vw, 28px);
  font-weight: 400;
  @media screen and (min-width: $laptop) {
    font-size: clamp(16px, 3vw, 20px);
  }
}

.certifListPdf {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: calc(100% + 40px);
  padding: 20px;

  @media screen and (min-width: 520px) {
    flex-direction: row;
    aspect-ratio: 3/2;
    // flex: 0.5;
    justify-content: space-around;
  }

  @media screen and (min-width: $laptop) {
    flex: 0.5;
    justify-content: space-between;
  }
}

.imgWrapp {
  height: 100%;
  aspect-ratio: 600/900;
  position: relative;

  @media screen and (min-width: 520px) {
    cursor: zoom-in;
  }

  & img {
    object-fit: cover;
    object-position: center;
  }

  @media screen and (min-width: $laptop) {
    height: 100%;
    width: auto;
  }
}
