@import "../../app/variables";

.container {
  flex-direction: column;
  gap: 20px;
}

.contentWrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    gap: 40px;
  }
  @media screen and (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.certifList {
  width: 100%;
  @media screen and (min-width: $laptop) {
    flex: 1;
  }
}

.certificate {
  display: flex;
  gap: 12px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.iconWrapp {
  position: relative;
  width: 32px;
  height: 32px;
}
.title {
  flex: 1;
  font-size: clamp(12px, 3vw, 28px);
  font-weight: 400;
  @media screen and (min-width: $laptop) {
    font-size: clamp(16px, 3vw, 20px);
  }
}

.certifListPdf {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: calc(100% + 40px);
  padding: 20px;
  @media screen and (min-width: 520px) {
    flex-direction: row;
    aspect-ratio: 3/2;
    // flex: 0.5;
  }
  @media screen and (min-width: $laptop) {
    flex: 0.5;
  }
}

.imgBackdrop {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;

  &:first-child {
    margin-right: auto;
  }
  &:last-child {
    margin-left: auto;
  }
}
.fullScreenBackdr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 40px;

  margin: 0;
  background-color: rgba(19, 19, 19, 0.5);
  cursor: zoom-out;
}

.imgWrapp {
  height: 100%;
  aspect-ratio: 600/900;
  position: relative;

  & img {
    object-fit: cover;
    object-position: center;
  }

  @media screen and (min-width: $laptop) {
    height: 100%;
    width: auto;
  }
}
// .imgWrappinBackdrop {
//   height: 80%;
//   // margin-left: auto;
//   // margin-right: auto;
//   margin: auto;
// }
