@import "../../app/variables";

.modalFrame {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modalFrameNone {
  display: none;
}

.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  overflow-y: scroll;
  cursor: zoom-out;
}
.modalBackdropNone {
  background-color: rgba(0, 0, 0, 0);
  width: 1%;
  height: 1%;
  opacity: 0;
}

.imgWrapp {
  aspect-ratio: 600/900;
  position: relative;
  overflow: hidden;
  cursor: auto;

  & img {
    object-fit: cover;
    object-position: center;
  }

  @media screen and (orientation: portrait) {
    width: 80%;
    height: auto;
  }
  @media screen and (orientation: landscape) {
    width: auto;
    height: 80%;
  }
}
