$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

// @media screen and (min-width: $mobile) {

// }
// @media screen and (min-width: $tablet) {

// }

// @media screen and (min-width: $laptop) {

// }

// @media screen and (min-width: $desktop) {

// }

$gray900: #131313;
$gray800: #333333;
$gray700: #515151;
$gray600: #5e5e61;
$gray500: #646464;
$gray400: #acacac;
$gray300: #d1d1d1;
$gray200: #e3e3e3;
$gray100: #eeeeee;
$gray50: #f7f7f7;
$gray0: #ffffff;

$primary900: #032c44;
$primary800: #4b3d3c;
$primary700: #5b4947;
$primary600: #6c5552;
$primary500: #785e5b;
$primary400: #8a7774;
$primary300: #9c918f;
$primary200: #b3b2b1;
$primary100: #d1d1d1;
$primary50: #ededed;

$secondary300: #2f5e7a;
$secondary250: #3986b4;
$secondary200: #bfadb0;
$secondary100: #d9cecf;
$secondary50: #094669;
$secondary10: #fef187;

$alertError: #8a0000;
$alertWarning: #ffc83a;
$alertSuccess: #005c25;

$linkColor: #0000ff;

$boxShadow: -8px -8px 24px rgba(120, 94, 91, 0.2);

@mixin textHover {
  text-shadow: 0px 0px 32px rgba(0, 0, 0);
  -webkit-text-stroke: 0.8px $gray0;
}

@mixin btnBg {
  background-image: linear-gradient(135deg, #1f6273, #b0d4ff);
  background-size: 300%;
  background-position-x: left;
}

@mixin btnHover {
  background-position-x: right;
}
