@import "../../app/variables";

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        gap: 24px;
    }
}