@import "../../app/variables";

.section {
  padding-top: 16px;
  padding-bottom: 16px;

  background-image: $sectionGradient;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $laptop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
  @media screen and (min-width: $laptop) {
    gap: 24px;
  }
}

// ${styles.sectionTitle}
.sectionTitle {
  display: flex;
  align-items: center;
  &:before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $gray0;
    position: static;
    // transform: translateY(50%);
    z-index: auto;
    flex: 1;
  }
  & span {
    background-color: transparent;
  }
}

.aboutWrapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: clamp(16px, 2.5vw, 48px);
  }
}

.imgWrapp {
  position: relative;
  width: 280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: $boxShadow;

  @media screen and (min-width: $tablet) {
    width: 100%;
    height: auto;
    flex: 1;
  }

  & img {
    object-fit: cover;
  }
}
.aboutDescr {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 1.6;
  @media screen and (min-width: $tablet) {
    width: 100%;
    gap: 8px;
    flex: 1;
  }
  @media screen and (min-width: $laptop) {
    gap: 20px;
    font-size: 20px;
  }
  @media screen and (min-width: $desktop) {
    gap: 40px;
  }
}
#btnLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: $secondary300;
  color: $gray0;
  border: 2px solid $secondary10;
  margin-top: 12px;

  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    scale: 1.02;
  }
}
